<html>
<head>
<title>ultraPacer Embeddable Table Demo</title>
<script src="/public/components/js/up-table.min.js"></script>
</head>
<body>
<h1>*BETA* ultraPacer Embeddable Table Demo</h1>
<p>Just insert the following into your document head:</p>
<code v-pre="">
&lt;script src="https://ultrapacer.com/public/components/js/up-table.min.js"&gt;&lt;/script&gt;
</code>
<p>And then put this on the page where you want it:</p>
<code v-pre="">
&lt;up-table<br>
&nbsp;course-id="5dc742995f5b9b0007339dfd"<br>
&nbsp;columns="location,name,elevation,distance,gain"<br>
&nbsp;style="max-width:400px"<br>
/&gt;
</code>
<p>And get the table below. See the full documentation <a href="/docs/embeddables">here</a>.</p>
<up-table course-id="5dc742995f5b9b0007339dfd" style="max-width:400px"  columns="location,name,elevation,distance,gain" />
</body>
</html>
