<html>
  <body bgcolor="#fff" style="background-color=#fff">
    <!--vue-ssr-outlet-->
    <div style="text-align:center; color: #422a22;text-align: middle;box-sizing: border-box;padding-left: 0;margin-bottom: 0;list-style: none;display: block !important;flex-direction: row;">
      <a href="mailto:danny@ultrapacer.com" rel="noopener" target="_blank" style="padding-left: 0.3rem !important; padding-right: 0.3rem !important; padding: 0.5rem 1rem; color: white;">
        <img src="https://ultrapacer.com/public/img/social-email.png" style="height:24px;">
      </a>
      <a href="https://www.facebook.com/ultrapacer" rel="noopener" target="_blank" style="padding-left: 0.3rem !important; padding-right: 0.3rem !important; padding: 0.5rem 1rem; color: white;">
        <img src="https://ultrapacer.com/public/img/social-facebook.png" style="height:24px;">
      </a>
      <a href="https://www.strava.com/clubs/ultrapacer" rel="noopener" target="_blank" style="padding-left: 0.3rem !important; padding-right: 0.3rem !important; padding: 0.5rem 1rem; color: white;">
        <img src="https://ultrapacer.com/public/img/social-strava.png" style="height:24px;">
      </a>
      <a href="https://github.com/amokrunner/ultrapacer" rel="noopener" target="_blank" style="padding-left: 0.3rem !important; padding-right: 0.3rem !important; padding: 0.5rem 1rem; color: white;">
        <img src="https://ultrapacer.com/public/img/social-github.png" style="height:24px;">
      </a>
      <a href="https://www.patreon.com/ultrapacer" rel="noopener" target="_blank" style="padding-left: 0.3rem !important; padding-right: 0.3rem !important; padding: 0.5rem 1rem; color: white;">
        <img src="https://ultrapacer.com/public/img/social-patreon.png" style="height:24px;">
      </a>
    </div>
  </body>
</html>
