// Your variable overrides
$dark: #241a18;
$primary: #223A42;
$success: #415837;
$info: #422a22;
// light brown: 7e4e3f
// medium brown 422a22
// light green 5e8351
// medium green 415837
// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
@import '../node_modules/bootstrap-vue/src/index.scss';
